@charset "utf-8";

:root {
  --clr-drk: #0A1631;
  --clr-primary: #bbddee;
  --clr-accent: #f1a87b;
  --clr-secondary-bg: #27375c;
  --clr-blur-bg: #A5F0D544;
  --font-size-title: 32px;
  --font-size-subtitle: 20px;
  --font-size-reg: 16px;
  --font-size-small: 10px;
  --app-transition: all 0.3s ease-in-out;
  --app-border-rad: 10px;
  --app-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  --app-blur: 10px;
}
@media(orientation: portrait) {
  :root {
    --font-size-title: 24px;
    --font-size-subtitle: 18px;
    --font-size-reg: 14px;
    --font-size-small: 10px;
  }
}
@media (max-width: 500px) {
  :root{
    --font-size-title: 18px;
  }
}
body {
  background-color: var(--clr-drk);
}
code {
  font-size: var(--font-size-small);
}
.secondary-header {
  font-size: var(--font-size-title);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-primary);
  font-family: "Kode Mono", "IBM Monoplex", monospace;
  background: var(--clr-drk) url('../img/pete-mcbride-4ma1B4OdCpM-unsplash.jpg') no-repeat center center;
  background-size: cover;
}
ul {
  list-style-type: none;
}
#page-top {
  height: 100svh;
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hero-banner {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -100;
}
.parallax {
  position: fixed;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax.one {
  z-index: 100;
  top: 200px;
  left: 50px;
  width: 200px;
  height: 200px;
  filter: opacity(0.7);
  background-image: url("../img/git-logo.png");
}

.parallax.two {
  z-index: 200;
  top: 1200px;
  right: 100px;
  width: 300px;
  height: 300px;
  background-image: url("../img/git-logo-reverse.png");
}
.parallax.three {
  z-index: 300;
  top: 800px;
  right: 500px;
  width: 100px;
  height: 100px;
  background-image: url("../img/git-logo.png");
}
.parallax.four {
  z-index: 400;
  top: 300px;
  right: 600px;
  width: 200px;
  height: 200px;
  background-image: url("../img/git-logo-reverse.png");
}
.parallax.five {
  z-index: 500;
  top: 800px;
  left: 300px;
  width: 250px;
  height: 250px;
  background-image: url("../img/git-logo.png");
}
.parallax.six {
  z-index: 600;
  top: 700px;
  right: 350px;
  width: 200px;
  height: 200px;
  background-image: url("../img/git-logo-reverse.png");
}
.parallax.seven {
  z-index: 700;
  top: 1000px;
  right: 15svw;
  width: 400px;
  height: 400px;
  filter: blur(5px) opacity(0.9) brightness(1.5);
  background-image: url("../img/git-logo.png");
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono","IBM Plex Mono", monospace;
  padding: 100px 0;
  background-color: var(--clr-drk);
  position: relative;
  z-index: 1000;
  color: var(--clr-primary);
}


h4, h5 {
  font-size: var(--font-size-reg);
  margin: 0;
}

p {
  font-size: var(--font-size-reg);
  max-width: 800px;
}


.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}
.flex {
  display: flex;
}
.f-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bold {
  font-weight: 600;
}
.gp-25px {
  gap: 25px;
}
.gp-5px {

}
.mlr-5px {
  margin-left: 5px;
  margin-right: 5px;
}
.mb-5px {
  margin-bottom: 5px;
}
.mb-25px {
  margin-bottom: 25px;
}
.mb-50px {
  margin-bottom: 50px;
}
.w-100 {
  width: 100%;
}
.w-100px { 
  max-width: 100px;
}
.w-200px {
  max-width: 200px;
}
.w-400px {
  max-width: 400px;
}
.sp-vn {
  justify-content: space-evenly;
}
.sp-between {
  justify-content: space-between;
}
.center {
  justify-content:center;
  align-items: center;
}
.cen {
  justify-content: center;
  align-items: center;
}
.hover {
  transition: var(--app-transition);
}
.hover:hover {
  filter: brightness(1.2)
}
.pointer {
  cursor: pointer;
}
.image-card {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: var(--clr-blur-bg);
  backdrop-filter: blur(var(--app-blur));
  border-radius: var(--app-border-rad);
  box-shadow: var(--app-shadow);
}
.image-card p {
  font-size: var(--font-size-small);
}
.hero-card {
  max-width: 700px;
  text-wrap: wrap;
  border-radius: 6px;
  padding: 25px;
  background-color: var(--clr-blur-bg);
  backdrop-filter: blur(var(--app-blur));
  position: relative;
  z-index: 5000;
  h2 {
    font-size: var(--font-size-title);
    color: var(--clr-drk);
    font-family: 'Kode Mono';
    text-align: center;
  }
}
.strong {
  font-weight: 600;
}

.icon-btn{
  width: 70px;
  transition: var(--app-transition);
}
.icon-btn:hover {
  filter: brightness(1.2);
}
.small-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.profile-icon {
  max-width: 60px;
  max-height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-icon img {
  max-width: 60px;
}
.icon-text {
  max-width: 160px;
  font-size: var(--font-size-small);
  background-color: #A5F0D544;
  backdrop-filter: blur(10px);
  border-radius: 6px;
  margin-bottom: 25px;
  padding: 0 5px;
}

.outdoor-pic {
  max-width: 400px;
  border-radius: 6px;
}
.btn {
  width: 180px;
  height: 60px;
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #012;
  color: var(--clr-accent);
  font-size: var(--font-size-small);
  font-family: 'Kode Mono';
  border-radius: var(--app-border-rad);
  cursor: pointer;
  transition: var(--app-transition);
}
.btn:hover {
  color: #fefefe;
  filter: brightness(2);
}
.btn i {
  font-size: var(--font-size-small);
  margin-bottom: 5px;
}
.btn p {
  font-size: var(--font-size-small);
}

/* 
.promo-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
} */

.promo-iframe {
  height: 400px;
  width: 300px;
}
.body-card .btn {
  min-width: min(500px, 60svw);
  justify-content: left;
}
.body-card .btn i {
  margin: 0 25px;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  text-align: center;
}

.body-card {
  margin-bottom: 50px;
  background-color: var(--clr-secondary-bg);
  box-shadow: var(--app-shadow);
  border-radius: var(--app-border-rad);
  padding: 25px;
  max-width: 600px;
  font-size: var(--font-size-reg);
  h4 {
    font-size: var(--font-size-subtitle);
  }
}

.body-card.clear {
  background-color: var(--clr-blur-bg);
  backdrop-filter: blur(var(--app-blur));
}
summary {
  list-style: none; /* Hides the default arrow in most browsers */
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: var(--font-size-subtitle);
}

/* Specific fix for Safari/Chrome */
summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: '';
  width: 20px; 
  height: 20px;
  margin-right: 10px;
  background-image: url('../img/greater-than.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

/* Rotate the custom image when open */
details[open] summary::before {
  transform: rotate(90deg); 
}
details .content {
  overflow: hidden;
  transition: height 0.3s ease-in-out; /* Match this time to your JS setTimeout */
  height: 0; 
}



.contributors {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px
}
.intro-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.intro-video {
  height: 0;
  overflow: hidden;
  transition: var(--app-transition);
}
.intro-video.open {
  height: 425px;
}

dialog {
  min-width: 40svw;
  height: fit-content;
  border: none;
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  margin: auto;
  background-color: #1b6582;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease;
}
dialog ul {
  list-style-type: none;
  text-align: left;
}
dialog img {
  border-radius: 10px;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.close-btn {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  background-color: #ff1346;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
footer {
  font-family: "Space Mono","IBM Plex Mono", monospace;
  background-color: var(--clr-drk);
  font-size: var(--font-size-title);
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  position: relative;
  z-index: 1000;
}
.ds-code {
  height: 30px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media(orientation: portrait) {
  .logo, dialog {
    width: 90svw;
  }
  .media-flip {
    flex-direction: column;
  }
  .icon-btn {
    width: 50px;
  }
}
