@charset "utf-8";


main{
  min-height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono","Space Mono", monospace;
}
h1 {
  display: none;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
  max-width: 800px;
}
a {
  color: #012;
  margin: 10px 0;
}
.bold {
  font-weight: 600;
}
.link {
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  background-color: #012;
  color: #fff;
}
